.warna {
  background: rgb(115, 156, 118);
  border: 2px solid rgb(63, 112, 77);
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  margin: 20px;
  text-align: center;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
}

.warni {
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(28, 92, 104);
  background: rgb(59, 104, 148);
  border-radius: 0.2cm;
}

.tombol {
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  background-image: -moz-linear-gradient(top, #eee, #ccc);
  background-image: -ms-linear-gradient(top, #eee, #ccc);
  background-image: -o-linear-gradient(top, #eee, #ccc);
  border: 1px solid #777;
  padding: 0 1.5em;
  margin: 0.5em;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  border-radius: .2em;
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  cursor: pointer;
}
